.navbar { position: relative; height: 74px; /* border: 1px solid transparent; */  /*margin-bottom: 20px;*/ }

        .icon-bar { display: block; width: 22px; height: 2px;background-color: #fff;  border-radius: 1px; }
       .icon-bar + .icon-bar { margin-top: 4px; }


        footer h6 {margin: 0; font-size: 1.5rem; font-weight: normal;}


        footer ul {margin:15px 0 0 0px; padding:0 0 15px 0px; }
            footer ul li {color: rgb(255, 255, 255); display: list-item; font-family: sans-serif; font-size: 11px; line-height: 14px; list-style-type: none; text-align: left; padding-bottom: 7px;}
                footer ul li a {color: rgb(255, 255, 255);}
                    footer ul li a:hover {text-decoration: underline; color:#fff;}

        .ehl {display: inline-block; width: 15px; height: 9px; background: url('https://www.peoples.com/2.0/images/icons.png') no-repeat -15px -122px;}

        .facebook, .twitter {display: inline-block; background: url('https://www.peoples.com/2.0/images/icons.png') no-repeat; width: 24px; height: 24px;}
            .facebook {background-position: -131px -37px;}
            .twitter {background-position: -106px -37px;}

        .social ul li {display: inline-block; margin-left: 5px;}


@media (max-width: 767px) {

    h6  {pading-bottom:10px; padding-top:10px; margin-bottom:0px; background:rgba(101,152,196, .5); text-align: center;}
    footer ul { margin:0px 0px 0px 0px;}
    .footerLink {margin-top:5px;}
    .footerLink li {text-align:center;}
    .social ul { text-align: center;}
}

@media (min-width: 768px) {

    .row:before, .row:after,
    .nav:before, .nav:after,
    .navbar:before, .navbar:after,
    .navbar-header:before, .navbar-header:after,
    .navbar-collapse:before, .navbar-collapse:after { display: table; content: " "; }


    .clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, 
    .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after { clear: both; }


    .navbar { /*border-radius: 4px;*/ }
            .navbar > .container .navbar-brand,
            .navbar > .container-fluid .navbar-brand { margin-left: -15px; }

    .navbar-header { float: left; /* padding:10px 0; */ }

    .navbar-collapse { width: auto; border-top: 0; box-shadow: none; }
            .navbar-collapse.collapse { display: block !important; height: auto !important; padding-bottom: 0; overflow: visible !important; }
            .navbar-collapse.in { overflow-y: visible; }

			.container > .navbar-header,
			.container-fluid > .navbar-header,
			.container > .navbar-collapse,
			.container-fluid > .navbar-collapse { margin-right: 0; margin-left: 0; }

	.navbar-brand { float: left; padding: 0px 10px; font-size: 18px; line-height: 20px; }
		.navbar-brand:hover, 
		.navbar-brand:focus { text-decoration: none; }
		

		 .navbar-fixed-top{ border-radius: 0; }

    .navbar-toggle { display: none; }

    h6 { padding-bottom:10px;}
    footer {}
        footer ul {padding-bottom: 20px !important; margin:0px auto !important;}
           
}



@media (max-width: 767px) {
                 button + a.navbar-brand { display: block; margin:0px 0 0 10px !important;}
                .divider:first-child {  width:100% !important; display: block; }
                
                .navbar-header + .right {float:none;}
                .headerlinks { text-align: center; }
                   .headerlinks li {padding:0 15px !important;}
}


